/* --------------- reset.css --------------- */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, strong, sub, sup, b, u, i,  dl, dt, dd, ol, ul, menu, li, form, label, table, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;                               /* обнул€ем отступы и убираем бордюры */
	vertical-align: baseline;          /* приводим все к одной базовой линии */
	background: transparent;      /* чтобы не проскакивали левые фоны, установленные по умолчанию */
	font-size: 100%;                     /* размер шрифта всем одинаковый */
}

body{width:100%; height:100%;}

body {
	line-height: 1;
	background: #fff;
	color: #000;
	text-align: left;
	font: 12px Arial, "Helvetica CY", "Nimbus Sans L", sans-serif; /* используем безопасные шрифтовые CSS стеки */
}

input, select, button, textarea {
	font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif; /* чтобы шрифт был такой же как и везде */
}


label, input[type="button"], input[type="submit"], button {
	cursor: pointer; /* курсор в виде руки дл€ всех кликабельных элементов форм */
}

a {                                      	     /* ссылка не в общем списке чтобы не сбрасывать outline по умолчанию */
	margin:0;
	padding:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
}
table {						/* устран€ем отступы между €чейками таблицы */
	border-collapse: collapse; 
	border-spacing: 0;
}
td, td img {
	vertical-align: top;			/* возвращаем привычное вертикальное выравнивание */
} 
input, select, button, textarea {
	margin: 0; 				/* убираем отступы по умолчанию дл€ элементов форм (в частности дл€ checkbox и radio) */
	font-size: 100%; 			/* делаем размер шрифтов везде одинаковым */
}
input[type="text"], input[type="password"], textarea {
	padding: 0; 				/* убираем внутренние отступы дл€ текстовых полей */
}
input[type="checkbox"] { 		/* вертикальное выравнивание чекбоксов и радиобатонов относительно меток */
	vertical-align: bottom;
}
input[type="radio"] {
	vertical-align: text-bottom;
}
sub {
	vertical-align: sub;
	font-size: smaller;
}
sup {
	vertical-align: super;
	font-size: smaller;
}

ul, menu {list-style:none;}

input[type="text"]{border-style:none;}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display:block;
}
/* --------------- /reset.css --------------- */


legend, fieldset, form {padding-left: 0; border-left: 0; border-right: 0; border-bottom: 0;}